.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    overflow: hidden;
    color:rgb(187, 187, 187);
    background-color: #171D1F;
    width: 486px;
    height: 431px;
    border-radius: 15px;

    .cardHeader {

        .cardFigure {
            .cover {

            }
        }
    }

    .cardBody {
        flex:1;
        padding: 10px;
        .title {
            font-size: 1.2rem;
        }

        .text {
            font-size: 1rem;
        }
    }
    .cardFooter {
        display:flex;
        flex-direction: row-reverse;
    }
}